.NftPurchaseItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  transition: 0.2s;
  margin-bottom: 50px;

  header {
    display: flex;
    justify-content: space-between;
  }
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
  body {
    display: flex;
    justify-content: space-between;
    h3 {
      text-align: right;
    }
  }
  h4 {
    color: var(--offset-white);
  }
}
