.button {
  width: 100%;
  max-width: 200px;
  border: none;
  padding: 10px;
  border-radius: 12px;
  background: transparent;
  transition: 0.2s;
  font-size: var(--md-font);
  color: var(--background-color);
  border: 3px solid var(--main);
  background: var(--main);
  font-weight: 700;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    color: white;
  }
}
