input {
    padding: 0;
    border: none;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
.form-row {
    width: 100%;
    position: relative;
    margin-top: 10px;

    label {
        position: absolute;
        left: 25px;
        top: 15px;
        color: var(--offset-white);
        text-transform: uppercase;
        font-size: var(--sm-font);

        @include FS_Light;
    }

    input:focus + label {
        color: var(--main);
    }
    input,
    select {
        width: 100%;
        height: 80px;
        border-radius: 8px;
        background: var(--background-color);
        box-sizing: border-box;
        padding: 25px 250px 0 25px;
        font-size: var(--md-font);
        color: var(--offset-white);
        border: 1px solid var(--background-color);
        @include FS_Medium;
    }
    select {
        padding-right: 60px;
        outline: none;

        option {
            font-size: var(--lg-font);
        }
    }
    textarea {
        width: 100%;
        height: 200px;
        border-radius: 8px;
        background: var(--background-color);
        box-sizing: border-box;
        padding: 35px 250px 0 25px;
        font-size: var(--md-font);
        color: var(--offset-white);
        border: 1px solid var(--background-color);
        outline: none;
        @include FS_Medium;
    }
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--first-shade);
    opacity: 1; /* Firefox */
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--first-shade);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--first-shade);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--first-shade);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: var(--first-shade);
}
