.header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--first-shade);
  flex-direction: row;
  position: relative;

  h2 {
    text-align: center;
  }

  .side-menu {
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none !important;

    width: 400px;
  }
}
